# MANIFEST.in
include README.md
include LICENSE
include requirements.txt
include requirements-dev.txt
recursive-include pesapal_v3 *.py
recursive-exclude tests *
global-exclude *.pyc
global-exclude __pycache__
